.FS-Logo img {
	padding:20px
}

#FS-Admin {
	background:#F1F1F1;
	margin:0 30px 10px 15px;
	border:1px solid #E3E3E3;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	padding:10px 15px 15px;
	overflow:auto
}

#FS-Admin h3 {
	margin:0;
	padding-bottom:30px;
	clear:both
}

#FS-Admin p label {
	width:170px;
	padding:3px 40px 3px 30px;
	display:inline-block
}

#FS-Admin p input {
	width:150px;
	padding:5px;
	color:#505050;
	font-weight:700
}

#FS-Admin p.guid input {
	width:330px
}

#FS-Admin .fs_dev_link {
	float:right;
	font-size:12px
}

#FS-Admin .guid_descr {
	padding:50px 0 10px 20px;
	margin:0;
	font-style:italic;
	color:#999;
	line-height:20px
}

#FS-Admin .guid_descr span {
	font-size:1.2em
}

#catn_badge {
	color:#777;
	text-align:right;
	font-size:10px;
	padding-left:30px;
	margin:5px 35px 0
}

#catn_badge a {
	text-decoration:none
}

div.updated {
	margin:10px 30px 20px 15px
}

#FS-Admin p.submit {
	margin:70px 0 0 20px;
	padding:0
}

#FS-Admin p.submit input {
	color:#fff
}

#FS-Admin p.submit input.delete-button {
	color:#505050
}

#FS-Admin .delete-button {
	float:right
}